.sliderHidden,
.sliderVisible {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: white;
    color: #0C2072;
    text-align: center;
    position: fixed;
    top: 0;
    transition: left 0.5s ease-in-out;
}

.sliderHidden nav,
.sliderVisible nav {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(12px);
}

.menuTopLevel,
.menuSecondLevel {
    list-style: none;
}

.menuSecondLevel {
    margin-bottom: 12px;
}

.menuTopLevel li,
.menuSecondLevel li {
    margin: 20px;
}

.menuTopLevel li a,
.menuSecondLevel li a {
    color: #0C2072;
    font-family: "Raleway", Arial, sans-serif;

}

.menuTopLevel li a {
    font-size: 40px;
}

.menuSecondLevel li a {
    font-size: 28px;
}

.sliderHidden {
    left: -820px;
    z-index: 12;
}

.sliderVisible {
    left: 0px;
    z-index: 10;
}

.active {
    text-decoration: underline;
}

.closeIcon {
    display: block;
    position: absolute;
    top: 30px;
    right: 40px;
    width: 32px;
    height: 32px;
    z-index: 12;
}

@media only screen and (max-width: 414px) {

    .menuTopLevel li a {
        font-size: 32px;
    }

    .menuSecondLevel li a {
        font-size: 20px;
    }

    .menuTopLevel li,
    .menuSecondLevel li {
        margin: 12px;
    }
}