.container {
    width: 15vw;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 40px;
    left: 40px;
    min-width: 160px;

}

.logo {
    max-width: 20px;
    max-height: 20px;
}